In [4]:
import numpy as np 
import pandas as pd

In [8]:
phones = {
    "x": [568, 341, 609, 477, 511],
    "y": [75, 46, 87, 59, 61]
}

df = pd.DataFrame(phones)
df

     x   y
0  568  75
1  341  46
2  609  87
3  477  59
4  511  61

In [10]:
x_avg = df['x'].mean()
y_avg = df['y'].mean()
x_avg, y_avg

(501.2, 65.6)

In [12]:
df['x-diff'] = df['x'] - x_avg
df['y-diff'] = df['y'] - y_avg
df.head()

     x   y  x-diff  y-diff
0  568  75    66.8     9.4
1  341  46  -160.2   -19.6
2  609  87   107.8    21.4
3  477  59   -24.2    -6.6
4  511  61     9.8    -4.6

In [13]:
df['x-diff2'] = df['x-diff'] ** 2
df['xy-diff'] = df['x-diff'] * df['y-diff']
df.head()

     x   y  x-diff  y-diff   x-diff2  xy-diff
0  568  75    66.8     9.4   4462.24   627.92
1  341  46  -160.2   -19.6  25664.04  3139.92
2  609  87   107.8    21.4  11620.84  2306.92
3  477  59   -24.2    -6.6    585.64   159.72
4  511  61     9.8    -4.6     96.04   -45.08

In [14]:
xy_diff_total = df['xy-diff'].sum()
x2_diff_total = df['x-diff2'].sum()

m = xy_diff_total / x2_diff_total
m

0.1458773286069839

In [15]:
m = round(m, 3)
m

0.146

In [17]:
b = y_avg - m * x_avg
b = round(b, 2)
b

-7.58

In [19]:
formula = f'y = {m} * x + {b}'
print(formula)

y = 0.146 * x + -7.58